# Forçar a instalação de dependências opcionais para evitar erros de binário multiplataforma
optional=true
# Garantir que o npm tente baixar binários para o SO de destino (Linux na Vercel)
engine-strict=true
supportedArchitectures=linux,x64
